* { border: 1px solid black;}

html {
    background-color: peachpuff
}

.introCopy {
    display: none;
}

.tabletBlock {
    visibility: hidden;
    display: none;
}

/*alex tutorial*/

header {
    display: flex;
    width: 90%;
    min-width: 10px;
    background-color: black;
    justify-content: space-between;
    margin: 20px auto;
    padding: 5px;
}

.desktopBlock {
    min-width: 10px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-content: center;
    flex-direction: column;
    background-color: black;
    margin: 20px auto;
    padding: 5px;
}

nav div a {
    color: white;
    text-decoration: none;
}

.burger {
    color: white;
    font-size: x-large;
}

.tabletLink {
    display: none;
    flex-direction: column;
    font-size: 20px;
}
/* end of alex tutorial */

a{
    text-decoration: none;
    color: white;
}
#name {
   font-size: 40px;
   text-align: center;
   color: white;
   background-color: black;
}

.headshotSection {
    display: flex;
    justify-content: center;
}
.headshot {
    justify-content: center;
    text-align: center;
}

.githubLogo, .linkedinLogo {
    width: 40%;
    height: 40%;
}

.Logos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.beginning1 {
    display: flex;
    justify-content: center;
}

#aboutHeader {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: black;
}

.about {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    width: 400px;
    line-height: 2; 
}

.beginning2 {
    display: flex;
    justify-content: center;
}

.educationHeader {
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: black;
}

.education {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    height: 200px; 
    width: 310px;
    line-height: 2;
    text-align: center;
}

.beginning3{
    display: flex;
    justify-content: center;
}

.workHeader {
    font-size: 25px;
    text-align: center;
    color: white;
    background-color: black;
}

.work {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    margin-bottom: 100px;
    width: 400px;
    line-height: 2;
}

#skillsHeader {
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: black;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

.htmlLogo, .cssLogo, .jsLogo, .jqueryLogo, .jsonLogo, .pythonLogo {
    flex-direction: row;
    height: 150px;
    width: 150px;
}

#projectHeader{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: black;
}

.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Beginning of API Section */
.apiImages {
    width: 50%;
    height: 50%;
}

.apiTitles {
    display: flex;
    font-size: 50px;
    color: white; 
    background-color: black;
    
}

.apiTexts {
    font-size: 25px;
    color: white;
    background-color: black;
}
/* End Of API Section */

#form {
    display: flex;
    flex-direction: column;
    }
    #contactHeader{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: black;
    }
    
    .contactSection {
    margin-bottom: 200px;
    align-content: flex-end;
    flex-direction: row;
    
    }
    
    .contactFormHeader {
    text-align: center;
    
    }
    
    .contactText {
        font-size: 25px;
         color: white;
         background-color: black;
    }

    .contactName {
        flex-direction: row;
        height: 40px;
        font-size: 30px;
        }
        
        .contactEmail {
        flex-direction: row;
        height: 40px;
        font-size: 30px;
        }
        
        .message {
        height: 200px;
        font-size: 30px;
        }
        .labels {
        font-size: 40px;
        }    
    
        #submit {
            height: 40px;      
            font-size: 30px;  
        }
    


@media only screen and (min-width: 414px) and (max-width: 799px) {
    /* TABLET */
    * { border: 1px solid black;}

html {
    background-color: peachpuff
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.introCopy {
    display: none;
}

/*alex tutorial*/

.desktopBlock {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-content: center;
    margin: 20px;
    flex-direction: column;
    font-size: 20px;
    line-height: 2;
}

nav div a {
    color: white;
    text-decoration: none;
}

.burger {
    color: white;
    font-size: x-large;
}

.tabletLink {
    display: none;
    flex-direction: column;
    font-size: 30px;
}
/* end of alex tutorial */

.tabletBlock {
    visibility: hidden;
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

#name {
   font-size: 50px;
   text-align: center;
   color: white;
   background-color: black;
}

.headshotSection {
    display: flex;
    justify-content: center;
}
.headshot {
    justify-content: center;
    text-align: center;
}

.githubLogo, .linkedinLogo {
    width: 40%;
    height: 40%;
}

.Logos {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.beginning1 {
    display: flex;
    justify-content: center;
}

#aboutHeader {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.about {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    width: 400px;
    line-height: 2; 
}

.beginning2 {
    display: flex;
    justify-content: center;
}

.educationHeader {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.education {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    height: 200px; 
    width: 310px;
    line-height: 2;
    text-align: center;
}

.beginning3{
    display: flex;
    justify-content: center;
}

.workHeader {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.work {
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    margin-bottom: 100px;
    width: 400px;
    line-height: 2;
}

#skillsHeader {
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.htmlLogo, .cssLogo, .jsLogo, .jqueryLogo, .jsonLogo, .pythonLogo {
    flex-direction: row;
    height: 150px;
    width: 150px;
}

#projectHeader{
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;
}
/* Beginning of API Section */
.apiImages {
    width: 100%;
    height: 100%;
}

.apiTitles {
    font-size: 50px;
}

.apiTexts {
    font-size: 40px;
}

.apiURL{
    display: show;
    color: pink;
}
/* End Of API Section */
body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#form {
    display: flex;
    flex-direction: column;
    }
    #contactHeader{
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: black;
    }
    
    .contactSection {
    margin-bottom: 200px;
    align-content: flex-end;
    flex-direction: row;
    
    }
    

    .contactFormHeader {
    text-align: center;
    
    }
    
    .contactText {
        font-size: 25px;
         color: white;
         background-color: black;
    }
    
    .contactName {
    flex-direction: row;
    height: 40px;
    font-size: 30px;
    }
    
    .contactEmail {
    flex-direction: row;
    height: 40px;
    font-size: 30px;
    }
    
    .message {
    height: 200px;
    font-size: 30px;
    }

    .labels {
    font-size: 40px;
    }    

    #submit {
        height: 40px;        
    }
}


@media only screen and (min-width: 800px) {
    /*DESKTOP*/

* { border: 1px solid black;}

html {
background-color: peachpuff
}

.desktopBlock {
visibility: hidden;
display: none;
}

header {
display: flex;
visibility: visible;
justify-content: space-between;

}

.tabletBlock /*header*/{
    display: flex;
    width: 80%;
    min-width: 450px;
    background-color: black;
    justify-content: space-between;
    margin: 20px auto;
    padding: 5px;
    visibility: visible;
}

nav{
box-sizing: content-box;
background-color: black;
width: 100vw; 
height: 80px;
display: flex;
}

ul{
display: flex;
font-size: larger;
justify-content: space-between;
color: white;

}
li {
list-style-type: none;
font-size: 35px;
color: white;
justify-content: space-evenly;
}

.desktopLink{
text-decoration: none;
color: white;
}

#name {
font-size: 40px;
text-align: center;
}

.headshotSection {
display: flex;
justify-content: center;
}
.headshot {
justify-content: center;
text-align: center;
}

.githubLogo, .linkedinLogo {
width: 20%;
height: 20%;
}

.hideOnDesktop{
visibility: hidden;
display: none;
}

.Logos {
display: flex;
flex-direction: column;
text-align: center;
}

/* beginning of grid */
.introCopy {
display: grid;
grid-template-areas: 
". beginning1Copy ."
"beginning2Copy . beginning3Copy";
padding: 10px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 4fr;
height: 500px;

}

.beginning1Copy {
grid-area: beginning1Copy;
color: white;
background-color: black;
height: 220px;
width: 100%;
text-align: center;
margin-bottom: 20px;
}

#aboutHeaderCopy, #workHeaderCopy, #educationHeaderCopy {
font-size: 30px;
}

.beginning2Copy {
grid-area: beginning2Copy;
color: white;
background-color: black;
height: 220px;
width: 100%;
text-align: center;
margin-bottom: 50px;
}

.beginning3Copy {
grid-area: beginning3Copy;
grid-template-rows: span;
color: white;
background-color: black;
height: 220px;
width: 100%;
text-align: center;
margin-bottom: 50px;
}
/* end of grid */

.beginning1 {
display: flex;
justify-content: center;
}

#aboutHeader {
text-align: center;
font-size: 16;
}

.about {
background-color: white;
border: 2px solid burlywood;
color: burlywood;
width: 400px;
line-height: 2; 
}

.beginning2 {
display: flex;
justify-content: center;
}

.educationHeader {
font-size: 25px;
text-align: center;
}

.education {
background-color: white;
border: 2px solid burlywood;
color: burlywood;
height: 200px; 
width: 310px;
line-height: 2;
text-align: center;
}

.beginning3{
display: flex;
justify-content: center;
}

.workHeader {
font-size: 25px;
text-align: center;
}

.work {
background-color: white;
border: 2px solid burlywood;
color: burlywood;
margin-bottom: 100px;
width: 400px;
line-height: 2;
}

#skillsHeader {
text-align: center;
}

.skills {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.htmlLogo, .cssLogo, .jsLogo, .jqueryLogo, .jsonLogo, .pythonLogo {
flex-direction: row;
height: 150px;
width: 150px;
}

#projectHeader{
text-align: center;
}

img {
width: 20%;
height: 20%;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.projectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#form {
    display: flex;
    flex-direction: column;
}

#contactHeader{
    text-align: center;
}

.contactSection {
    margin-bottom: 200px;
    align-content: flex-end;
    flex-direction: row;
}

.contactFormHeader {
    text-align: center; 
}

.contactName {
    flex-direction: row;
    height: 40px;
    font-size: 30px;
}
    
.contactEmail {
    flex-direction: row;
    height: 40px;
    font-size: 30px;
}
    
.contactText {
    font-size: 25px;
     color: white;
     background-color: black;
}
    
.message {
    height: 200px;
    font-size: 30px;
}

.labels {
    font-size: 40px;
}    

#submit {
        height: 40px;        
}  

}